###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*.h linguist-language=cpp

*ttf.h linguist-generated=true
pong/assets/** linguist-generated=true